<div class="row">
    <div class="col">
        <tile [tile]="tile"></tile>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="progress">
            <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="current_progress" aria-valuemin="0" [attr.aria-valuemax]="tile.duration_seconds"></div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <button (click)="play()" class="btn btn-primary"><i class="fa fa-play"></i></button>
        <button (click)="stop()" class="btn btn-primary"><i class="fa fa-stop"></i></button>
    </div>
</div>