<home-header-link></home-header-link>
<div class="row mt-2" *ngIf="tile">  
  <div class="col">
    <single-audio-file-tile *ngIf="tile.type == TileType.single_audio_file" [tile]="tile"></single-audio-file-tile>
    <obd-reading-tile *ngIf="tile.type == TileType.digital_obd_ii_sensor" [tile]="tile"></obd-reading-tile>
    <cast-tile *ngIf="tile.type == TileType.cast" [tile]="tile"></cast-tile>
  </div>
</div>
<div class="row mt-2">
  <div class="col">
      <div class="dropdown">
          <button class="btn btn-secondary btn-md dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" [routerLink]="['/tile-update', tile?.id || 0]">Edit tile config</a>
              <a class="dropdown-item" [routerLink]="['/tile-remove', tile?.id || 0]">Remove tile</a>
          </div>
      </div>
  </div>
</div>